.topnav {
  overflow: hidden;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
  }
  .icon {
    display: none;
  }
}
.dropdown {
  float: left;
  overflow: hidden;
  &:hover .dropdown-content {
    display: inline;
    background-color: white;
    color: black;
  }
}
.dropbtn {
  font-size: 14px;
  border: none;
  display: block;
  position: relative;
  outline: none;
  color: black;
  text-transform: uppercase;
  background-color: inherit;
  font-family: inherit;
  margin-right: 23px;
  &:hover .dropdown-content {
    display: block;
    background-color: white;
    color: #abc373;
  }
}
.dropdown-content {
  display: none;
  background-color: black;
  z-index: 1;
  color: black;
  a {
    float: none;
    font-size: 13px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover {
      color: #abd373;
    }
  }
}
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.info {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  .contact {
    display: flex;
    span {
      height: 50%;
      align-self: center;
      margin-left: 10px;
      font-size: 19px;
    }
  }
  img {
    width: 111px;
    align-self: flex-end;
    height: 59px;
  }
  .fa-phone {
    font-size: 19px;
    padding: 12px;
    border-radius: 16%;
    background-color: #abd373;
    color: white;
  }
  .search .fa-solid {
    font-size: 20px;
    margin-right: 14px;
    color: gray;
  }
}
.language {
  background-color: #abd373;
  width: 100%;
  padding: 13px;
  .language-content {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: auto 2%;
    color: white;
  }
}
hr {
  max-width: 100%;
}
