.topnav {
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: inline;
  background-color: white;
  color: black;
}

.dropbtn {
  font-size: 14px;
  border: none;
  display: block;
  position: relative;
  outline: none;
  color: black;
  text-transform: uppercase;
  background-color: inherit;
  font-family: inherit;
  margin-right: 23px;
}

.dropbtn:hover .dropdown-content {
  display: block;
  background-color: white;
  color: #abc373;
}

.dropdown-content {
  display: none;
  background-color: black;
  z-index: 1;
  color: black;
}

.dropdown-content a {
  float: none;
  font-size: 13px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #abd373;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .contact span {
  height: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  font-size: 19px;
}

.info img {
  width: 111px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 59px;
}

.info .fa-phone {
  font-size: 19px;
  padding: 12px;
  border-radius: 16%;
  background-color: #abd373;
  color: white;
}

.info .search .fa-solid {
  font-size: 20px;
  margin-right: 14px;
  color: gray;
}

.language {
  background-color: #abd373;
  width: 100%;
  padding: 13px;
}

.language .language-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto 2%;
  color: white;
}

hr {
  max-width: 100%;
}

#swipe-slide {
  background-color: #f8eee5;
}

#swipe-slide img {
  width: 600px;
  height: 617px;
}

.mySlides {
  background-image: url("../../images/1-1.jpg");
  display: none;
}

/* Slideshow container */
.slideshow-container {
  min-width: 100%;
  position: relative;
  margin: auto;
  background-image: url("../../images/1-1.png");
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../images/1-1.jpg);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
